# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*

# Secrets
*.tfvars
*.pem
*.key
.env

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db